<h1>McB's Burgers!</h1>

<h2>Burgers that need fryin'</h2>

<ul>
  {{#each burgers}}
    {{#unless this.finished}}
      <li>
        {{this.burger_name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="finished" value="true">
          <button type="submit">Fry up this burger!</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Finished burgers</h2>

<ul>
  {{#each burgers}}
    {{#if this.finished}}
      <li>
        {{this.burger_name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="finished" value="false">
          <button type="submit">Unfry it!</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="burg">Burger type:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <div class="form-group">
    <label for="finished">Is it finished?</label><br>
    <input type="radio" name="finished" value="1">Fried!<br>
    <input type="radio" name="finished" value="0" checked> Needs fryin'!
  </div>


  <button type="submit">Add Burger</button>
</form>